<div class="project-details-container" *ngIf="project">
  <div class="project-header">
    <div class="action-buttons">
      <button *ngIf="isManager()" class="btn btn-primary" (click)="showAddMemberToProject()">User management</button>
      <button *ngIf="isManager()" class="btn btn-success" (click)="showCreateTaskForm()">Create task</button>


    </div>

    <h2 class="project-title highlight">Project Name: <span class="project-name">{{ project.title | titlecase }}</span>
    </h2>
  </div>

  <!-- Task status section -->
  <div class="task-status">
    <div class="status-item to-do" (drop)="onDrop($event, 'pending')" (dragover)="allowDrop($event)">
      <p>Pending</p>
      <ul>
        <li *ngFor="let task of pendingTasks"
            draggable="true"
            (dragstart)="onDragStart($event, task, 'pending')"
            (click)="showTaskDetails(task)">
          <span class="task-icon">⏳</span>
          {{ task.name | titlecase }}
        </li>
      </ul>
    </div>

    <div class="status-item in-progress" (drop)="onDrop($event, 'work in progress')" (dragover)="allowDrop($event)">
      <p>Work in Progress</p>
      <ul>
        <li *ngFor="let task of inProgressTasks"
            draggable="true"
            (dragstart)="onDragStart($event, task, 'work in progress')"
            (click)="showTaskDetails(task)">
          <span class="task-icon">🔄</span>
          {{ task.name | titlecase }}
        </li>
      </ul>
    </div>

    <div class="status-item done" (drop)="onDrop($event, 'done')" (dragover)="allowDrop($event)">
      <p>Done</p>
      <ul>
        <li *ngFor="let task of doneTasks"
            draggable="true"
            (dragstart)="onDragStart($event, task, 'done')"
            (click)="showTaskDetails(task)">
          <span class="task-icon">✔️</span>
          {{ task.name | titlecase }}
        </li>
      </ul>
    </div>
  </div>



  <div class="workflow-container">
    <div id="workflowGraph" style="width: 100%; height: 600px;"></div>
  </div>

  <!-- Modal Background -->


  <!-- Modal Background -->
  <div class="modal-background" *ngIf="isCreateTaskFormVisible" (click)="cancelCreateTask()"></div>

  <!-- Modal -->
  <div id="mm" class="modal" *ngIf="isCreateTaskFormVisible">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create New Task</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="closeCreateTask()">&#10005;</button>
        </div>

        <div class="modal-body">
          <form #taskForm="ngForm">
            <div class="form-group">
              <label for="taskName">Task name:</label>
              <input type="text" id="taskName" class="form-control" name="name" placeholder="Enter name"
                     [(ngModel)]="taskName" required />
            </div>

            <div class="form-group">
              <label for="taskDescription">Task description:</label>
              <textarea id="taskDescription" class="form-control" name="description" rows="4"
                        placeholder="Enter description" [(ngModel)]="taskDescription" required></textarea>
            </div>

          </form>
          <div class="error-message" *ngIf="taskFormError">
            {{ taskFormError }}
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="cancelCreateTask()">Cancel</button>
          <button type="button" class="btn btn-success" (click)="createTask()">Create Task</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal-background" *ngIf="isAddMemberFormVisible" (click)="cancelAddMember()"></div>

  <!-- Modal za dodavanje korisnika -->
  <div id="addMemberModal" class="modal" *ngIf="isAddMemberFormVisible" >

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">
            Manager:

            <span *ngFor="let user of projectManagers; let isLast = last" class="manager-name">
            {{ user.username | titlecase }}<span *ngIf="!isLast">, </span>

          </span>

          </h3>
          <button type="button" class="btn-close" aria-label="Close" (click)="closeAddMember()">&#10005;</button>
        </div>
        <div class="modal-body">
          <!-- Lista korisnika koji mogu biti dodati na projekat -->
          <h4>Select a user to add to the project:</h4>
          <div class="available-spots">
            <p>Available Spots: {{ getAvailableSpots() }}</p>
          </div>

          <ul class="user-list">
            <li *ngFor="let user of users; trackBy: trackByUserId" class="user-item">
              <label>
                <input type="checkbox" [checked]="isSelected(user)" (change)="toggleSelection(user)" />
                {{ user.username | titlecase }}
              </label>
            </li>
          </ul>



          <!-- Prikaz korisnika koji su već na projektu -->
          <h4>Users in the project:</h4>
          <ul class="user-list">
            <li *ngFor="let user of projectUsers"  class="user-item">
              {{ user.username | titlecase }}
              <button class="btn btn-danger btn-sm float-end" (click)="removeUserFromProject(user.id)">Remove user</button>
            </li>

          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="cancelAddMember()">Cancel</button>
          <button type="button" class="btn btn-success" (click)="addSelectedUsersToProject()">Add Selected Users</button>
        </div>
      </div>
    </div>
  </div>



  <!-- Task Details Modal -->
  <div class="modal-background" *ngIf="isTaskDetailsVisible" (click)="closeTaskDetails()"></div>

  <div id="taskModal" class="modal" *ngIf="isTaskDetailsVisible">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Task Details</h3>
          <button type="button" class="btn-close" (click)="closeTaskDetails()">&#10005;</button>
        </div>
        <div class="modal-body">
          <h6>Task Name: {{ selectedTask?.name }}</h6>
          <h6>Description: {{ selectedTask?.description }}</h6>

          <!-- Status Promena za Clanove -->
          <div *ngIf="!isManager()" id="status-block">
            <label>Status:</label>
            <div class="radio-group">
              <label class="radio-label">
                <input type="radio" id="pending" name="status" value="pending" [(ngModel)]="selectedTask.status"
                       (change)="updateTaskStatus('pending')" />
                Pending
              </label>
              <label class="radio-label">
                <input type="radio" id="wip" name="status" value="work in progress" [(ngModel)]="selectedTask.status"
                       (change)="updateTaskStatus('work in progress')" />
                Work in Progress
              </label>
              <label class="radio-label">
                <input type="radio" id="done" name="status" value="done" [(ngModel)]="selectedTask.status"
                       (change)="updateTaskStatus('done')" />
                Done
              </label>
            </div>

            <div *ngIf="dependencyMessage" class="dependency-message">
              <span>{{ dependencyMessage }}</span>
            </div>
          </div>
        </div>

        <!-- your.component.html -->
        <div class="task-files">
          <div>
            <h4>Task Files:</h4>
            <ul *ngIf="taskFiles && taskFiles.length > 0" class="file-list">
              <li *ngFor="let file of taskFiles; let i = index">
                <span class="file-link-span">{{ i + 1 }}. </span>
                <a (click)="downloadTaskFile(selectedTask.id, file)" class="file-link">
                  {{ formatFileName(file) }}
                </a>
              </li>
            </ul>
            <p *ngIf="taskFiles.length === 0">No files available for this task.</p>

            <input #fileInput type="file" multiple (change)="onFilesSelected($event)" id="fileInput"  />

            <button *ngIf="selectedFiles && selectedFiles.length > 0" (click)="uploadFiles()" class="btn btn-upload-file">Upload Files</button>
          </div>
        </div>




        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="cancelAddTaskUserModal()">Cancel</button>
          <button *ngIf="isManager()" (click)="showAddTaskUserModal(selectedTask)" class="btn btn-success">Manage
            Members</button>
          <button *ngIf="isManager()"  class="btn btn-add-dependency" (click)="showAddDependencyModal()">
            Add Dependency
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Custom Modal for Oversized Files -->
  <div class="modal-background" *ngIf="isOversizedFileModalVisible" (click)="closeOversizedFileModal()"></div>

  <div id="oversizedFileModal" class="modal" *ngIf="isOversizedFileModalVisible">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Oversized Files</h3>
          <button type="button" class="btn-close" (click)="closeOversizedFileModal()">&#10005;</button>
        </div>
        <div class="modal-body">
          <p class="file-red-p">These files are larger than the maximum allowed size (5MB) and will not be uploaded:</p>
          <ul class="oversized-file-list">
            <li *ngFor="let file of oversizedFiles">{{ file }}</li>
          </ul>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeOversizedFileModal()">Close</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal-background" *ngIf="isAddTaskUserVisible" (click)="closeAddUserToTask()"></div>

  <!-- Add Users to Task Modal -->
  <div id="addTaskUserModal" class="modal" *ngIf="isAddTaskUserVisible">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Users to Task</h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="closeAddUserToTask()">&#10005;</button>
        </div>

        <div class="modal-body">
          <div *ngIf="message" class="alert" [ngClass]="{ 'alert-danger': !isSuccessMessage }">
            {{ message }}
          </div>
          <!-- Lista korisnika dostupnih za dodavanje na task -->
          <h4>Select a user to add to the task:</h4>
          <ul class="user-list">
            <li *ngFor="let user of taskAvUsers" class="user-item">
              <label>
                <input type="checkbox" (change)="toggleTaskUserSelection(user)" />
                {{ user.username | titlecase }}
              </label>
            </li>
          </ul>

          <!-- Prikaz korisnika koji su već dodani na task -->
          <h4>Users in the task:</h4>
          <ul class="user-list">
            <li *ngFor="let user of taskUsers" class="user-item">
              {{ user.username | titlecase }}
              <button class="btn btn-danger btn-sm" (click)="removeUserFromTask(user.id)">Remove user</button>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeAddTaskUserModal()">Cancel</button>
          <button type="button" class="btn btn-success" (click)="addSelectedUsersToTask()">Add Users</button>
        </div>
      </div>
    </div>
  </div>


  <div class="all-tasks-done-modal" (click)="closeTasksDoneModal()">
    <div class="modal-content">
      <h2>Can't add people to project</h2>
      <p>You cannot add users to the project because the project is inactive .</p>
      <button (click)="closeTasksDoneModal()">OK</button>
    </div>
  </div>

  <div id="addMemberToProject" class="custom-modal no-users-selected-modal-project">
    <div class="modal-content">
      <h2>No Users Selected</h2>
      <p>Please select at least one user to add to the project.</p>
      <button (click)="closeNoUsersProjectSelectedModal()">OK</button>
    </div>
  </div>
  <!-- Delete People Project Modal -->
  <div class="delete-people-project-modal" style="display: none;">
    <div class="modal-content">
      <h2>Cannot Remove Members</h2>
      <p *ngIf="project">Can't remove more people. Minimum number of people in project is: {{ project.min_people ?
        project.min_people -1 : 0 }}</p>
      <button (click)="closeDeletePeopleProjectModal()">Close</button>
    </div>
  </div>


  <div id="AddMaxPeopleProject" class="max-people-error-modal" (click)="closeMaxPeople()">
    <div class="modal-content">
      <h2>You need selected less people</h2>
      <p>Can't add these people to project, no available slots.</p>
      <button (click)="closeMaxPeople()">OK</button>
    </div>
  </div>

  <div id="missingProjectIdModal" class="exist-task-name" style="display: none;">
    <div class="modal-content">
      <h2>Warning</h2>
      <p>Project ID is missing. Could not create task .</p>
      <button (click)="closeMissingProjectIdModal()">Close</button>
    </div>
  </div>

  <div class="add-user-error-modal" (click)="closeAddUserErrorModal()">
    <div class="modal-content">
      <p>Error adding user to the task. Please try again later.</p>
      <button (click)="closeAddUserErrorModal()">OK</button>
    </div>
  </div>

  <div class="no-users-selected-modal" (click)="closeNoUsersSelectedModal()">
    <div class="modal-content">
      <p>No users selected. Please select at least one user to add to the task.</p>
      <button (click)="closeNoUsersSelectedModal()">OK</button>
    </div>
  </div>

  <div class="user-already-added-modal" (click)="closeUserAlreadyAddedModal()">
    <div class="modal-content">
      <p>User is already added to this task.</p>
      <button (click)="closeUserAlreadyAddedModal()">OK</button>
    </div>
  </div>

  <div class="user-not-on-task-modal">
    <div class="update-error-modal-content">
      <h2>You are not a member of this task</h2>
      <p>Please contact the task owner to get added.</p>
      <button class="close-modal-button" (click)="closeUserNotOnTaskModal()">Close</button>
    </div>
  </div>

  <div class="update-error-modal" style="display: none; opacity: 0;">
    <div class="update-error-modal-content">
      <h4>A task is dependent on another task.</h4>
      <p>First update the main task.</p>
      <button (click)="closeErrorModal()">Close</button>
    </div>
  </div>


</div>

<!-- Modal za dodavanje zavisnosti -->
<div class="modal-background-container" *ngIf="isAddDependencyModalVisible" (click)="closeAddDependecyModalAll()"></div>

<div id="addDependencyModal" class="custom-modal" *ngIf="isAddDependencyModalVisible">
  <div class="custom-modal-dialog">
    <div class="custom-modal-content">
      <div class="custom-modal-header">
        <button (click)="closeAddDependencyModal()" type="button" class="btn-close">✕</button>
        <h2 class="modal-title-container-title">Add Task Dependencies</h2>

      </div>

      <div class="custom-modal-body">
        <div class="custom-form-group">
          <label class="custom-dependency-label">Select Tasks:</label>
          <ul class="custom-dependency-task-list">
            <li *ngFor="let task of existingTasks; trackBy: trackByTaskId" class="custom-dependency-task-item">
              <label class="custom-checkbox">
                <input type="checkbox"   [value]="task.id"
                       [checked]="selectedDependencies.includes(task.id) || selectedSessionTasks.includes(task.id)"
                       (change)="toggleTaskDependency(task)"
                       [disabled]="selectedDependencies.includes(task.id)"/>
                <span class="custom-checkbox-label">{{ task.name | titlecase }}</span>
              </label>
            </li>
          </ul>
        </div>
        <div class="custom-error-message" *ngIf="dependencyFormError">
          {{ dependencyFormError }}
        </div>
      </div>

      <div class="custom-modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeAddDependencyModal()">Cancel</button>
        <button style="margin-left: 10px;" type="button" class="btn btn-add-dependency" (click)="confirmDependencies()">Add Dependency</button>
      </div>
    </div>
  </div>
</div>


