<div class="project-details-container" *ngIf="project">
  <div class="project-header">
    <div class="action-buttons">
      <button *ngIf="isManager()"  class="btn btn-primary"(click)="showAddMemberToProject()">User management</button>
      <button *ngIf="isManager()"    class="btn btn-success" (click)="showCreateTaskForm()">Create task</button>

    </div>

    <h2 class="project-title highlight">Project Name: <span class="project-name">{{ project.title | titlecase }}</span></h2>
  </div>

  <!-- Task status section -->
  <div class="task-status">
    <div class="status-item to-do">
      <p>Pending</p>
      <ul>
        <!-- Display all pending tasks -->
        <li *ngFor="let task of pendingTasks" (click)="showTaskDetails(task)">

          <span class="task-icon">⏳</span>
          {{ task.name | titlecase }}
        </li>
      </ul>
    </div>

    <div class="status-item in-progress">
      <p>Work in Progress</p>
      <ul>
        <!-- Display all tasks with 'in-progress' status -->
        <li *ngFor="let task of inProgressTasks" (click)="showTaskDetails(task)">
          <span class="task-icon">🔄</span>
          {{ task.name | titlecase }}
        </li>
      </ul>
    </div>

    <div class="status-item done">
      <p>Done</p>
      <ul>
        <!-- Display all tasks with 'done' status -->
        <li *ngFor="let task of doneTasks" (click)="showTaskDetails(task)">
          <span class="task-icon">✔️</span>
          {{ task.name | titlecase }}
        </li>
      </ul>
    </div>
  </div>


  <!-- Modal Background -->
    <div class="modal-background" *ngIf="isCreateTaskFormVisible" (click)="cancelCreateTask()"></div>

    <!-- Modal -->
    <div id="mm" class="modal" *ngIf="isCreateTaskFormVisible">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Create New Task</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="closeCreateTask()">&#10005;</button>
          </div>

          <div class="modal-body">
            <form #taskForm="ngForm">
              <div class="form-group">
                <label for="taskName">Task name:</label>
                <input type="text" id="taskName" class="form-control" name="name" placeholder="Enter name" [(ngModel)]="taskName" required/>

              </div>

              <div class="form-group">
                <label for="taskDescription">Task description:</label>
                <textarea id="taskDescription" class="form-control" name="description" rows="4" placeholder="Enter description" [(ngModel)]="taskDescription" required></textarea>

              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="cancelCreateTask()">Cancel</button>
            <button type="button" class="btn btn-success" (click)="createTask()">Create Task</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="modal-background" *ngIf="isAddMemberFormVisible" (click)="cancelAddMember()"></div>

<!-- Modal za dodavanje korisnika -->
<div id="addMemberModal" class="modal" *ngIf="isAddMemberFormVisible" >

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">
          Manager:

          <span *ngFor="let user of projectManagers; let isLast = last">
            {{ user.username | titlecase }}<span *ngIf="!isLast">, </span>

          </span>

        </h3>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeAddMember()">&#10005;</button>
      </div>
      <div class="modal-body">
        <!-- Lista korisnika koji mogu biti dodati na projekat -->
        <h4>Select a user to add to the project:</h4>
        <div class="available-spots">
          <p>Available Spots: {{ getAvailableSpots() }}</p>
        </div>

        <ul class="user-list">
          <li *ngFor="let user of users" class="user-item">
            <label>
              <input type="checkbox" (change)="toggleSelection(user)" />
              {{ user.username | titlecase }}
            </label>
          </li>
        </ul>


        <!-- Prikaz korisnika koji su već na projektu -->
        <h4>Users in the project:</h4>
        <ul class="user-list">
          <li *ngFor="let user of projectUsers"  class="user-item">
            {{ user.username | titlecase }}
            <button class="btn btn-danger btn-sm float-end" (click)="removeUserFromProject(user.id)">Remove user</button>
          </li>

        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cancelAddMember()">Cancel</button>
        <button type="button" class="btn btn-success" (click)="addSelectedUsersToProject()">Add Selected Users</button>
      </div>
    </div>
  </div>
</div>




<!-- Task Details Modal -->
<div class="modal-background" *ngIf="isTaskDetailsVisible" (click)="closeTaskDetails()"></div>

<div id="taskModal" class="modal" *ngIf="isTaskDetailsVisible">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Task Details</h4>
        <button type="button" class="btn-close" (click)="closeTaskDetails()">&#10005;</button>
      </div>
      <div class="modal-body">
        <h6>Task Name: {{ selectedTask?.name }}</h6>
        <h6>Description: {{ selectedTask?.description }}</h6>


        <!-- Radio buttons for status -->
        <div *ngIf="selectedTask" id="status-block">
          <label>Status:</label>
          <div class="radio-group">
            <label class="radio-label">
              <input type="radio" id="pending" name="status" value="pending"
                     [(ngModel)]="selectedTask.status"
                     (change)="updateTaskStatus('pending')" />
              Pending
            </label>
            <label class="radio-label">
              <input type="radio" id="wip" name="status" value="work in progress"
                     [(ngModel)]="selectedTask.status"
                     (change)="updateTaskStatus('work in progress')" />
              Work in Progress
            </label>
            <label class="radio-label">
              <input type="radio" id="done" name="status" value="done"
                     [(ngModel)]="selectedTask.status"
                     (change)="updateTaskStatus('done')" />
              Done
            </label>
          </div>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cancelAddTaskUserModal()">Cancel</button>
        <button  *ngIf="isManager()" (click)="showAddTaskUserModal(selectedTask)" class="btn btn-success">Add User</button>

      </div>
    </div>
  </div>
</div>


<!-- Add Users to Task Modal -->
<div id="addTaskUserModal" class="modal" *ngIf="isAddTaskUserVisible">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Users to Task</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeAddUserToTask()">&#10005;</button>
      </div>

      <div class="modal-body">
        <!-- Lista korisnika dostupnih za dodavanje na task -->
        <h4>Select a user to add to the task:</h4>
        <ul class="user-list">
          <li *ngFor="let user of projectUsers" class="user-item">
            <label>
              <input type="checkbox" (change)="toggleTaskUserSelection(user)" />
              {{ user.username | titlecase }}
            </label>
          </li>
        </ul>

        <!-- Prikaz korisnika koji su već dodani na task -->
        <h4>Users in the task:</h4>
        <ul class="user-list">
          <li *ngFor="let user of taskUsers" class="user-item">
            {{ user.username | titlecase }}
            <button class="btn btn-danger btn-sm" (click)="removeUserFromTask(user.id)">Remove user</button>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeAddTaskUserModal()">Cancel</button>
        <button type="button" class="btn btn-success" (click)="addSelectedUsersToTask()">Add Users</button>
      </div>
    </div>
  </div>
</div>


<div class="all-tasks-done-modal" (click)="closeTasksDoneModal()">
  <div class="modal-content">
    <p>You cannot add users to the project because all tasks are marked as done.</p>
    <button (click)="closeTasksDoneModal()">OK</button>
  </div>
</div>

<div id="AddMaxPeopleProject" class="max-people-error-modal" (click)="closeMaxPeople()">
  <div class="modal-content">
    <h2>You need selected less people</h2>
    <p>Can't add these people to project, no available slots.</p>
    <button (click)="closeMaxPeople()">OK</button>
  </div>
</div>

<div class="add-user-error-modal" (click)="closeAddUserErrorModal()">
  <div class="modal-content">
    <p>Error adding user to the task. Please try again later.</p>
    <button (click)="closeAddUserErrorModal()">OK</button>
  </div>
</div>

<div class="no-users-selected-modal" (click)="closeNoUsersSelectedModal()">
  <div class="modal-content">
    <p>No users selected. Please select at least one user to add to the task.</p>
    <button (click)="closeNoUsersSelectedModal()">OK</button>
  </div>
</div>

<div class="user-already-added-modal" (click)="closeUserAlreadyAddedModal()">
  <div class="modal-content">
    <p>User is already added to this task.</p>
    <button (click)="closeUserAlreadyAddedModal()">OK</button>
  </div>
</div>

<div id="addMemberToProject" class="custom-modal no-users-selected-modal-project" style="display: none;">
  <div class="modal-content">
    <h2>No Users Selected</h2>
    <p>Please select at least one user to add to the task or project.</p>
    <button (click)="closeNoUsersProjectSelectedModal()">OK</button>
  </div>
</div>
