<nav *ngIf="isLoggedIn()" class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
  <div class="container-fluid">
    <!-- Left elements -->
    <div class="d-flex align-items-center">
      <!-- Brand -->
      <a class="navbar-brand me-2 mb-1 d-flex align-items-center logo-container" (click)="goToDashboard()">
        <img [src]="logoPath" alt="Dumbbell Logo" loading="lazy" class="logo-image" style="cursor: pointer;">
        <h4 class="ms-3 mb-0 logo-text" style="cursor: pointer;">Taskio</h4>
      </a>


      <!-- Request link (visible for ADMIN only) -->
      <h4 class="nav-link custom-link add-project-link ms-2" *ngIf="isManager() && isDashboard()" data-bs-toggle="modal" data-bs-target="#addProjectModal">
        Add project
      </h4>

    </div>

    <!-- Right elements -->
    <div class="d-flex align-items-center position-relative" (mouseleave)="onHoverExit()">
      <!-- Profile menu -->
      <div class="d-flex align-items-center position-relative">
        <a class="nav-link custom-link position-relative" (mouseenter)="onHover()"  >
          <div class="profile-icon position-relative" style="width: 45px; height: 45px;">
            <img [src]="profilePath" alt="Profile Icon" class="profile-image" style="width: 100%; height: 100%; cursor: pointer;">
            <span class="notification-dot" *ngIf="hasNotifications"></span>
          </div>
        </a>

        <!-- Profile menu -->
        <div class="profile-menu shadow-lg rounded" *ngIf="isProfileMenuOpen" (mouseleave)="onHoverExit()">
          <a class="nav-link custom-link p-2" (click)="goToProfile()">
            <img [src]="userPath" alt="User Icon" width="20" height="20" style="cursor: pointer;">
            Profile
          </a>
          <a class="nav-link custom-link p-2 position-relative" *ngIf="isMember()" (click)="goToNotifications()">
            <div class="notification-icon-container position-relative">
              <img [src]="notificationPath" alt="Notification Icon" width="20" height="20" style="cursor: pointer;">
              <span class="notification-dot" *ngIf="hasNotifications"></span>
            </div>
            Notification
          </a>
          <a class="nav-link custom-link p-2 position-relative" *ngIf="isMember()" (click)="goToAnalytics()">
            <img [src]="analiticsPath" alt="User Icon" width="20" height="20" style="cursor: pointer;">
            Analytics
          </a>
          <a class="nav-link custom-link p-2 position-relative" *ngIf="!isMember()" (click)="goToHistory()">
            <img [src]="activityPath" alt="Activity Icon" width="20" height="20" style="cursor: pointer;">
            Activity
          </a>
          <a class="nav-link custom-link p-2 position-relative" (click)="logout()">
            <img [src]="logoutPath" alt="Logout Icon" width="20" height="20" style="cursor: pointer;">
            Logout
          </a>
        </div>
      </div>
    </div>

  </div>
</nav>



<router-outlet></router-outlet>

<div class="modal fade" id="addProjectModal" tabindex="-1" aria-labelledby="addProjectModalLabel" #addProjectModal>
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addProjectModalLabel">Create a project</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetForm()"></button>
      </div>
      <div class="modal-body">
        <form #projectForm="ngForm">
          <div class="mb-3">
            <label for="projectTitle" class="form-label">Title:</label>
            <input type="text" class="form-control" id="projectTitle" [(ngModel)]="project.title" name="title" required>
          </div>
          <div class="mb-3">
            <label for="projectDescription" class="form-label">Description:</label>
            <textarea class="form-control" id="projectDescription" [(ngModel)]="project.description" name="description" rows="3" required></textarea>
          </div>
          <div class="mb-3">
            <label for="expectedEndDate" class="form-label">Expected completion date:</label>
            <input type="date" class="form-control" id="expectedEndDate" [(ngModel)]="project.expected_end_date" name="expected_end_date" required>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="minNumber" class="form-label">Minimum number:</label>
              <input type="number" class="form-control" id="minNumber" [(ngModel)]="project.min_people" name="min_people" required min="1">
            </div>
            <div class="col">
              <label for="maxNumber" class="form-label">Maximum number:</label>
              <input type="number" class="form-control" id="maxNumber" [(ngModel)]="project.max_people" name="max_people" required min="2">
            </div>
          </div>
          <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
            {{ errorMessage }}
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="resetForm()">Cancel</button>
        <button type="button" class="btn btn-success" (click)="createProject()">Save</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-wrapper add-user-error-modal" id="logoutReminderModal" tabindex="-1" aria-labelledby="logoutReminderLabel" aria-hidden="true">
  <div class="modal-dialog modal-custom">
    <div class="modal-content modal-error">
      <div class="modal-header modal-header-custom">
        <h5 class="modal-title title-highlight" id="logoutReminderLabel">Session Timeout</h5>
      </div>
      <div class="modal-body modal-body-custom">
        Your token has expired. Log in again.
      </div>
      <div class="modal-footer modal-footer-custom">
        <button type="button" class="btn btn-primary btn-primary-custom" (click)="logoutToken()">Logout</button>
      </div>
    </div>
  </div>
</div>

