.custom-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}
/* Povećanje veličine logotipa */
.logo-container {
  display: flex;
  align-items: center;  /* Poravnanje slike i teksta u sredinu */
  text-decoration: none;
}

/* Povećanje slike logotipa */
.logo-image {
  width: 57px; /* Povećaj širinu logotipa */
  height: 55px; /* Povećaj visinu logotipa */
  transition: transform 0.3s ease, filter 0.3s ease; /* Glatki prelaz */
}

/* Hover efekat za logo */
.logo-container:hover .logo-image {
  filter: brightness(0) invert(1); /* Bele boje na hover */
  transform: scale(1.1); /* Blago povećanje na hover */
}

/* Stilizacija teksta logotipa */
.logo-text {
  font-size: 1.9rem; /* Veća veličina fonta */
  font-weight: bold; /* Deblji font */
  margin-left: 10px; /* Razmak između slike i teksta */
  transition: color 0.3s ease, transform 0.3s ease; /* Glatki prelaz boje i veličine */
  display: flex;
  align-items: center; /* Poravnanje teksta sa slikom */
}

/* Hover efekat za tekst */
.logo-container:hover .logo-text {
  color: #ddd; /* Svetlije bele boje na hover */
  transform: scale(1.1); /* Blago povećanje na hover */
}


* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;

}
.navbar {
  background-color: #216e4e !important;
  padding-left: 10px;
  padding-right: 10px;
  height: 75px;
  align-items: center;  /* Poravnanje slike i teksta u sredinu */

}

.nav-link {
  cursor: pointer;
}

.profile-menu {
  position: absolute;
  right: 10px;
  top: 40px;
  background-color: #216e4e;
  border: 2px solid black;
  border-radius: 8px;  /* Slightly larger border radius for a rounded look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  min-width: 200px;  /* Increased width for a larger menu */
  padding: 10px 0;   /* Added padding for a larger overall menu */
}
.custom-alert {
  font-weight: 500;
  text-align: center;
  padding: 15px;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 600px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;

}

.custom-alert i {
  font-size: 1.5rem;
  color: #721c24;
  margin-right: 8px;
}

.custom-alert .btn-close {
  margin-left: 15px;
}


.profile-menu a {
  display: block;
  padding: 15px 20px; /* Increased padding for larger clickable area */
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;  /* Larger font size */
  font-weight: bold;
  transition: color 0.3s, background-color 0.3s, transform 0.3s ease;
}

.profile-menu a:hover {
  color: white;
  transform: scale(1.1); /* Scale the item slightly larger */

}

.profile-menu a:active {
  transform: scale(0.98);  /* Slight shrink effect on active click */
}

.add-project-link {
   margin-top: 5px;
   color: black;
   padding: 10px 20px; /* Veći padding za bolji izgled */
   border-radius: 5px;
   font-size: 1.8rem; /* Veća veličina fonta */
   font-weight: 600; /* Bold za istaknut tekst */
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Dobar font za čitljivost */
   text-transform: capitalize; /* Prvo slovo veliko */
   transition: background-color 0.3s, transform 0.2s;
   cursor: pointer;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   display: inline-block;
 }

.add-project-link:hover {
  transform: scale(1.1); /* Blago povećanje na hover */
  color: white; /* Kontrastni tekst na hover */
}

.add-project-link:active {
  transform: scale(0.95); /* Blago smanjenje na aktivaciju */
}

.modal-content {
  background-color: #f0f0f0;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #2a8a68;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar {
  scrollbar-width: none;
}

.navbar {
  background-color: #216e4e !important;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 20;
}

.navbar .navbar-light {
  color: #fff;
}

.navbar .navbar-nav .nav-link {
  color: #fff;
}

.navbar .navbar-nav .nav-link:hover {
  color: #ddd;
}

body {
  margin-left: 300px;
}
.project-list {
  margin-top: 50px;
  list-style-type: none;
  padding: 0;
  text-align: center;
  max-height: calc(100vh - 50px);
}

.project-list li {
  font-size: 1.25rem;
  padding: 10px;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  text-transform: capitalize;


}

.project-list li:hover {
  transition: color 0.3s, background-color 0.3s;
}
.notification-dot {
  position: absolute;
  top: 5px; /* Podesi poziciju u odnosu na profilnu sliku */
  right: 5px; /* Podesi poziciju u odnosu na profilnu sliku */
  width: 12px;
  height: 12px;
  background-color: #e2f533;
  border-radius: 50%;
  border: 2px solid white; /* Da tačkica ima beli okvir */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.profile-icon {
  position: relative;
}
