<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6" style="margin-top: -50px;">
        <img [src]="imagePath" class="img-fluid mb-2" alt="Login illustration">
      </div>

      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <!-- Card for login -->
        <div class="card shadow" style="border-radius: 25px;">
          <div class="card-body">
            <div class="text-center">
              <h1 class="h4">Login</h1>
            </div>

            <form (ngSubmit)="login()">
              <!-- Username input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="username">Username:</label>
                <input
                  type="text"
                  id="username"
                  class="form-control form-control-lg"
                  [(ngModel)]="username"
                  name="username"
                  required
                />
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="password">Password:</label>
                <input
                  type="password"
                  id="password"
                  class="form-control form-control-lg"
                  [(ngModel)]="password"
                  name="password"
                  required
                />
              </div>

              <!-- Error message -->
              <div *ngIf="loginError" class="text-danger mb-3">
                {{ loginError }}
              </div>

              <!-- Sign in button -->
              <div class="btn-container">
                <button type="button" class="custom-btn" (click)="login()">Sign in</button>
              </div>

              <div class="text-center mt-4">
                <p class="text-muted">
                  Forgot your password?
                  <a href="#forgotPasswordModal" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal" class="text-muted">Reset it here</a>.
                </p>
              </div>

              <div class="divider d-flex align-items-center my-4">
                <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
              </div>

              <!-- Magic Link input section -->
              <!-- Magic Link input section -->
              <div class="form-outline mb-4">
                <label class="form-label" for="magicLinkEmail">Enter your email address:</label>
                <input
                  type="email"
                  id="magicLinkEmail"
                  class="form-control form-control-lg"
                  [(ngModel)]="email"
                  name="email"
                  placeholder="Enter your email"
                  required
                  (keydown.enter)="sendMagicLink()"
                />
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="magicLinkUsername">Username:</label>
                <input
                  type="text"
                  id="magicLinkUsername"
                  class="form-control form-control-lg"
                  [(ngModel)]="magicLinkUsername"
                  name="magicLinkUsername"
                  placeholder="Enter your username"
                  required
                  (keydown.enter)="sendMagicLink()"
                />
              </div>

              <!-- Submit button for Magic Link -->
              <div class="btn-container">
                <button
                  type="button"
                  class="custom-btn"
                  (click)="sendMagicLink()"
                  [disabled]="!email || !magicLinkUsername"
                >
                  Send Magic Link
                </button>

              </div>

              <!-- Magic Link response message -->
              <div *ngIf="message" class="alert mt-3" [ngClass]="{ 'alert-success': isSuccess, 'alert-danger': !isSuccess }">
                {{ message }}
              </div>
            </form>

            <!-- Registration section -->
            <div class="text-center mt-4">
              <p class="text-muted">Don't have an account? <a (click)="navigateToRegister()" class="text-muted">Register here</a>.</p>
            </div>
          </div>
        </div>
        <!-- End of card -->
      </div>
    </div>
  </div>
</section>
