.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.custom-btn {
  background-color: #4CAF50;
  color: white;
  font-size: 18px;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-btn:hover {
  background-color: #45a049;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
a {
  cursor: pointer;
}
