.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.custom-btn {
  background-color: #4CAF50;
  color: white;
  font-size: 18px;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#recaptcha-wrapper {
  display: flex;
  justify-content: center; /* Centriraj horizontalno */
  margin-top: 20px; /* Opcionalni razmak iznad */
}
.vh-100 .container {
  padding-top: 15px; /* Smanjen padding od vrha */
}

.vh-100 .row > div:first-child {
  margin-top: -30px; /* Smanjen negativni razmak slike */
}


.custom-btn:hover {
  background-color: #45a049;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
a {
  cursor: pointer;
}
.text-danger {
  color: red;
}

.text-success {
  color: green;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
  padding: 15px;
  border-radius: 5px;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
  padding: 15px;
  border-radius: 5px;
}
