.custom-btn {
  background-color: #4CAF50;
  color: white;
  font-size: 18px;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-btn:hover {
  background-color: #45a049;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
a {
  cursor: pointer;
}
.modal {
  position: fixed;
  top: 0; /* Pozadina ostaje preko celog ekrana */
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5); /* Pozadina preko celog ekrana */
  display: none;
  justify-content: center;
  align-items: flex-start; /* Sadr탑aj modala poravnat prema po훾etku */
}

.modal.show {
  display: flex;
}

.modal-dialog {
  max-width: 500px;
  margin-top: 50px; /* Pomera sadr탑aj modala ni탑e */
}

.modal-success {
  color: green; /* Tamno zelena */
}

.modal-error {
  color: red; /* Tamno crvena */
}

