<div class="analytics-container">
  <h1>Analytics</h1>

  <!-- Total Tasks Assigned -->
  <div class="total-tasks">
    <p *ngIf="taskCount !== null">Total Tasks Assigned: {{ taskCount }}</p>
    <p *ngIf="taskCount === null">Loading task count...</p>
  </div>

  <!-- Task Count by Status -->
  <div class="section-card task-status-count">
    <h2>Task Status Count</h2>
    <div *ngIf="taskCountByStatus; else loadingStatus">
      <p>Pending: {{ taskCountByStatus.pending }}</p>
      <p>Work in Progress: {{ taskCountByStatus['work in progress'] }}</p>
      <p>Done: {{ taskCountByStatus.done }}</p>
    </div>
    <ng-template #loadingStatus>
      <p>Loading task status count...</p>
    </ng-template>
  </div>

  <hr>

  <!-- Task Analytics -->
  <div class="section-card">
    <h2>Task Analytics</h2>
    <div *ngIf="taskAnalytics && taskAnalytics.length > 0">
      <div *ngFor="let task of taskAnalytics" class="task-analytics-item">
        <h3>Task Name: {{ task.task_name }}</h3>
        <p><strong>Status Times:</strong></p>
        <ul>
          <li>Pending: {{ task.status_times?.pending ?? 0 }} seconds</li>
          <li>Work in Progress: {{ task.status_times?.['work in progress'] ?? 0 }} seconds</li>
        </ul>
        <p><strong>Last Status Change:</strong> {{ task.last_status_change | date: 'HH:mm dd.MM.yyyy' }}</p>
      </div>
    </div>
  </div>

  <hr>

  <!-- Projects and Tasks -->
  <div class="section-card">
    <h2>Projects and Tasks</h2>
    <div *ngIf="userProjects; else loadingProjects">
      <div *ngFor="let project of userProjects">
        <h3>{{ capitalizeFirstLetter(project.project) }}</h3>
        <ul>
          <li *ngFor="let task of project.tasks">{{ capitalizeFirstLetter(task) }}</li>
        </ul>
      </div>
    </div>
    <ng-template #loadingProjects>
      <p>Loading projects and tasks...</p>
    </ng-template>
  </div>

  <hr>

  <!-- Project Completion Status -->
  <div class="section-card">
    <h2>Project Completion Status</h2>
    <div *ngIf="projectCompletionStatuses; else loadingProjectCompletion">
      <div *ngFor="let status of projectCompletionStatuses" class="project-status-item">
        <h3>{{ capitalizeFirstLetter(status.project) }}</h3>
        <p>Status: <span [ngClass]="status.completed ? 'completed' : 'not-completed'">{{ status.completed ? 'Completed' : 'Not Completed' }}</span></p>
        <p *ngIf="status.completed">On Time: {{ status.completedOnTime ? 'Yes' : 'No' }}</p>
        <p>Expected End Date: {{ status.expectedEndDate }}</p>
      </div>
    </div>
    <ng-template #loadingProjectCompletion>
      <p>Loading project completion statuses...</p>
    </ng-template>
  </div>
</div>
