<div class="modal-body">
    <form (submit)="sendResetPasswordEmail(); $event.preventDefault()">
      <div class="form-outline mb-3">
        <label class="form-label" for="resetEmail">Enter your email address:</label>
        <input [(ngModel)]="email" name="resetEmail" type="email" id="resetEmail" class="form-control form-control-sm" placeholder="Email" required />
      </div>
      <button type="submit" class="btn btn-primary">Send Reset Link</button>
    </form>
    <div *ngIf="message" class="mt-2">{{ message }}</div>
  </div>
  