<div class="table-container">
  <h5 class="unread-count">Number of unread messages: {{ unreadCount }}</h5>
  <div class="table-wrapper">
    <table class="table">
      <thead class="table-dark">
      <tr>
        <th>Messages</th>
        <th>Created at</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody class="scrollable-tbody">
      <tr *ngIf="notifications.length === 0">
        <td colspan="3" class="text-center">{{ noNotificationsMessage }}</td>
      </tr>
      <tr *ngFor="let notification of notifications">
        <td>{{ notification.message }}</td>
        <td>{{ notification.created_at | date: 'h:mm a dd.MM.yyyy' }}</td>
        <td>
            <span [class.text-muted]="notification.status === 'read'">
              {{ notification.status }}
            </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
